<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>Boggle Game</title>
</head>
<body>
    <div class="container text-center">
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            <div class="alert alert-danger mt-2 p-0 text-center" role="alert">
                <section class="messages pt-2">
                    {% for category,msg in messages %}
                        <p class="{{category}}"> {{ msg }} </p>
                    {% endfor %}
                </section>
            </div>
        {% endif %}
        {% endwith %}
        
        <h1 class="m-4 mb-0 d-inline" id="title">Play Boggle!</h1><br>
        <h4 class="mt-1 d-inline">Time Remaining:</h4> <h4 class="mt-1 d-inline" id="counter">60</h4>
    
        <table class="table table-bordered col-sm-6 mx-auto pb-0 mb-0">
            <tbody>
                {% for row in curr_game %}
                    <tr>
                    {% for letter in row %}
                        <td class="p-1">{{letter}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        
        <form action="/word-check" id='word-form' method="POST" class="d-inline">
            <input type="text" id="word" name="word" autofocus="autofocus" placeholder="Found Word" required>
            <button  type="submit" id="add-word" class="btn btn-primary btn-sm m-3">Add</button>
        </form>
    
        <form action="/restart" class="d-inline">
            <button type="submit" class="tn btn-danger btn-sm m-2">Restart</button>
        </form>
    
        <hr>
        <h5>(Current Score: {{session['score']}} || High Score: {{session['high-score']}}) </h5>
        <h3>Found Words</h3> 
        <div class="row justify-content-md-center">
            <ol class="col-sm-1" id="foundWords">
            {% for word in session['found_words'] %}
                <li>{{word}}</li>
            {% endfor %}
        </div>
        </ol>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>


    

